<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springapp.mvc.dao.TestDao">

<resultMap id="songMap" type="song">
    <id property="id" column="VODAFONE_EGYPT_RBT_CLIP_ID" />
    <result property="name" column="SONG_TITLE" />
</resultMap>

<select id="getSongsList" resultMap="songMap">
    SELECT "VODAFONE_EGYPT_RBT_CLIP_ID", "SONG_TITLE" from "C_VFEGY_SONG_EXT";
</select>

</mapper>